body {
	background:  url(../images/middle_banner.jpg) no-repeat top center #FFFFFF;
	margin:      0px;
	padding:     0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:       black;
}

p{
	margin:      0px;
	padding:     0 0 5px 0;
	line-height: 17px;
	text-align:  justify;
}

p.pat{
	color: black;
}

#fg_membersite input[type="text"],
#fg_membersite input[type="password"] {
	font-family:           Arial, Verdana, sans-serif;
	font-size:             1em;
	line-height:           140%;
	color:                 #000;
	padding:               3px;
	border:                1px solid #999;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius:  5px;
	border-radius:         5px;
}

h1{
	color:       black;
	font-size:   16px;
	font-weight: bold;
	margin:      0px;
	padding:     5px 0 5px 0;
}

h2{
	color:       black;
	font-size:   16px;
	float:       left;
	font-weight: bold;
	margin:      0px;
	padding:     5px 0 0 0;
}

span.white{
	color: black;
}

span.dark_blue{
	color: black;
}

#main_container{
	width:            100%;
	height:           auto;
	margin:           auto;
	background-color: #fff;
}

.header{
	width:      100%;
	height:     129px;
	margin:     auto;
	background: url(../images/tmp.jpg) repeat-x;
}

.right_header{
	width:    578px;
	position: absolute;
	left:     700px;
}

.welcome{
	float: right;
	width: 400px;
}

#fieldset_login{
	height:                 50px;
	display:                block;
	-webkit-margin-start:   2px;
	-webkit-margin-end:     2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start:  0.75em;
	-webkit-padding-end:    0.75em;
	-webkit-padding-after:  0.625em;
	border:                 2px groove threedface;
	border-image-source:    initial;
	border-image-slice:     initial;
	border-image-width:     initial;
	border-image-outset:    initial;
	border-image-repeat:    initial;
	min-width:              -webkit-min-content;
}

#login{
	display: inline-block;
	width:   475px;
}

#register{
	display: inline-block;
	width:   69px;
}

#logo{
	padding: 30px 0 0 20px;
	float:   left;
}

#form1{
	display: inline-block;
}

#logout{
	width: 100px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius:  5px;
}

button{
	width: 60px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius:  5px;
}

/*----------------------menu-------------------------*/
#menu{
	width:   500px;
	height:  35px;
	float:   right;
	padding: 40px 0 0 0;
}

#menu ul{
	list-style:  none;
	padding:     0px;
	margin:      0px;
	display:     block;
	font-weight: bold;
}

#menu ul li{
	list-style:  none;
	display:     inline;
	float:       left;
	width:       96px;
	height:      35px;
	padding:     0px;
	line-height: 35px;
	font-size:   13px;
	margin:      0 3px 0 3px;
}

#menu ul li a{
	height:          35px;
	width:           96px;
	float:           left;
	text-decoration: none;
	padding:         0px;
	margin:          0px;
	color:           #6c7b83;
	text-align:      center;
	background:      url(../images/menu_bt.gif) no-repeat center;
}

#menu ul li a:hover{
	height:          35px;
	width:           96px;
	text-decoration: none;
	color:           #68C2EF;
}

#menu ul li a.current{
	height:          35px;
	width:           96px;
	float:           left;
	text-decoration: none;
	padding:         0px;
	margin:          0px;
	color:           #68C2EF;
	background:      url(../images/menu_bt.gif) no-repeat center;
}

#middle_box{
	width:      900px;
	height:     auto;
	clear:      both;
	margin:     auto;
	background: url(../images/middle_banner.jpg) no-repeat center;
}

#sidebar-nav{
	padding: 0px 0px 0px 0px;
	float:   left;
	height:  100%;
}

.middle_box_content{
	padding: 30px 0 0 20px;
}

.middle{
	padding: 30px 0 0 170px;
}

.top_menu{
	width: 285px;
	float: right;
}

a.login {
	width:           49px;
	height:          35px;
	display:         block;
	background:      url(../images/login.gif) no-repeat center;
	line-height:     35px;
	color:           black;
	font-size:       10px;
	font-weight:     bold;
	text-decoration: none;
	padding:         0 0 0 40px;
	float:           left;
	margin:          0 3px 0 3px;
}

a.sign_up {
	width:49px;
	height:35px;
	display:block;
	background:url(../images/sign_up.gif) no-repeat center;
	line-height:35px;
	color:black;
	font-size:10px;
	font-weight:bold;
	text-decoration: none;
	padding:         0 0 0 40px;
	float:           left;
	margin: 0 3px 0 3px;
}

.pattern_bg{
	width:      900px;
	height:     162px;
	clear:      both;
	margin:     auto;
	background: url(../images/pattern_bg.gif) no-repeat center;
}

.pattern_box{
	width:   900px;
	float:   left;
	padding: 15px 0 0 25px;
}

.pattern_box_icon{
	float:   left;
	padding: 5px;
}

.pattern_content{
	width:   775px;
	float:   left;
	padding: 0 0 0 0px;
}

/*---------------------main_content------------------*/
#main_content{
	width:   885px;
	height:  auto;
	margin:  auto;
	padding: 0 0 0 15px;
}

.clear{
	clear: both;
}

.box_content{
	width:      900px;
	height:     auto;
	float:      left;
	margin:     10px 10px 30px 10px;
	background: url(../images/box_bg.gif) no-repeat top center;
}

.box_title{
	padding: 10px 0 10px 0;
}

.title_icon{
	float:   left;
	padding: 0 5px 0 10px;
}

.box_text_content{
	width:   800px;
	float:   left;
	padding: 15px 0 0 15px;
}

.box_icon{
	float:   left;
	padding: 0 5px 0 0 ;
}

.box_text{
	width:      800px;
	float:      left;
	text-align: justify;
	padding:    0 0 0 10px;
}

a.details{
	float:           right;
	padding:         5px 15px 0 0;
	text-decoration: none;
	font-weight:     bold;
	color:           black;
}

/*-----------------------------footer------------------*/
footer {
	position:         absolute;
	width:            500px;
	height:           30px;
	color:            black;
	background-color: #FFFFFF;
	left:             500px;
}

.copyright{
	float:   left;
	padding: 10px 0 0 10px;
}

.footer_links{
	float:   right;
	padding: 10px 10px 0 0;
}

#fg_membersite .container{
	margin-top:    8px;
	margin-bottom: 10px;
}

.error{
	font-family:      Verdana, Arial, sans-serif; 
	font-size:        1em;
	color:            #900;
	background-color: #ffff00;
}

.spmhidip{
	display: none;
	width:   10px;
	height:  3px;
}

#nav_table{
	width: 150px;
	padding-left:25px;
}

table
{
border-collapse:collapse;
} 