body {
	background:  url(../images/bg.gif) no-repeat top center #F8F8F8;
	margin:      0px;
	padding:     0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:   12px;
	color:       black;
}

p{
	margin:0px;
	padding:0 0 5px 0;
	line-height:17px;
	text-align:justify;
}

p.pat{
	color:black;
}

h1{
	color:black;
	font-size:16px;
	font-weight:bold;
	margin:0px;
	padding:5px 0 5px 0;
}

h2{
	color: black;
	font-size:16px;
	float:left;
	font-weight:bold;
	margin:0px;
	padding:5px 0 0 0;
}

span.white{
	color:black;
}

span.dark_blue{
	color:black;
}

/*span.tab{
	position: absolute;
	right:    393px;
}*/

#main_container{
	width:900px;
	height:auto;
	margin:auto;
	background-color:#fff;
}

.header{
	width:900px;
	height:114px;
	margin:auto;
	background:url(../images/tmp.jpg) repeat-x;
}

.right_header{
	float: right;
	width: 577px;
}

fieldset {
	height: 50px;
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	border: 2px groove threedface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	min-width: -webkit-min-content;
}

#login{
	display: inline-block;
	width:   475px;
}

#register{
	display: inline-block;
	width:   69px;
}

#logo{
	padding:30px 0 0 20px;
	float:left;
}

/*----------------------menu-------------------------*/
#menu{
	width:500px;
	height:35px;
	float:right;
	padding:40px 0 0 0;
}

#menu ul{
	list-style:none;
	padding:0px;
	margin:0px;
	display:block;
	font-weight:bold;
}

#menu ul li{
	list-style:none;
	display:inline;
	float:left;
	width:96px;
	height:35px;
	padding:0px;
	line-height:35px;
	font-size:13px;
	margin:0 3px 0 3px;
}

#menu ul li a{
	height:35px;
	width:96px;
	float:left;
	text-decoration:none;
	padding:0px;
	margin:0px;
	color:#6c7b83;
	text-align:center;
	background:url(../images/menu_bt.gif) no-repeat center;
}

#menu ul li a:hover{
	height:35px;
	width:96px;
	text-decoration:none;
	color: #68C2EF;
}

#menu ul li a.current{
	height:35px;
	width:96px;
	float:left;
	text-decoration:none;
	padding:0px;
	margin:0px;
	color: #68C2EF;
	background:url(../images/menu_bt.gif) no-repeat center;
}

#middle_box{
	width:900px;
	height:auto;
	clear:both;
	margin:auto;
	background:url(../images/middle_banner.jpg) no-repeat center;
}

.middle_box_content{
	padding:30px 0 0 20px;
}

.top_menu{
	width:285px;
	float:right;
}

a.login {
	width:49px;
	height:35px;
	display:block;
	background:url(../images/login.gif) no-repeat center;
	line-height:35px;
	color:black ;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 40px;
	float:left;
	margin:0 3px 0 3px;
}

a.sign_up {
	width:49px;
	height:35px;
	display:block;
	background:url(../images/sign_up.gif) no-repeat center;
	line-height:35px;
	color:black;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 40px;
	float:left;
	margin:0 3px 0 3px;
}

.pattern_bg{
	width:900px;
	height:162px;
	clear:both;
	margin:auto;
	background:url(../images/pattern_bg.gif) no-repeat center;
}

.pattern_box{
	width:900px;
	float:left;
	padding:15px 0 0 25px;
}

.pattern_box_icon{
	float:left;
	padding:5px;
}

.pattern_content{
	width:775px;
	float:left;
	padding:0 0 0 0px;
}

/*---------------------main_content------------------*/
#main_content{
	width:885px;
	height: auto;
	margin: auto;
	padding:0 0 0 15px;
}

.clear{
	clear:both;
}

.box_content{
	width:900px;
	height:auto;
	float:left;
	margin:10px 10px 30px 10px;
	background:url(../images/box_bg.gif) no-repeat top center;
}

.box_title{
	padding:10px 0 10px 0;
}

.title_icon{
	float:left;
	padding:0 5px 0 10px;
}

.box_text_content{
	width:800px;
	float:left;
	padding:15px 0 0 15px;
}

.box_icon{
	float:left;
	padding:0 5px 0 0 ;
}

.box_text{
	width:800px;
	float:left;
	text-align:justify;
	padding:0 0 0 10px;
}

a.details{
	float:right;
	padding:5px 15px 0 0;
	text-decoration:none;
	font-weight:bold;
	color:black;
}

/*-----------------------------footer------------------*/
#footer{
	width:900px;
	height:45px;
	color:black;
	background-color:#F8F8F8 ;
}

.copyright{
	float:left;
	padding:10px 0 0 10px;
}

.center_footer{
	color:black;
	font-size:12px;
	font-weight:bold;
	width:550px;
	padding:15px;
	text-align:center;
	float:left;
}

.footer_links{
	float:right;
	padding:10px 10px 0 0;
}